[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWoodPlanksBankirai
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=1.000000
fHeightStrength=0.600000
fGlowStrength=1.000000
fSpecularStrength=0.300000
frFresnel=0.900000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=0
bHeight=1
bThickness=0
idDiffuse=587
idBump=589
idSpecular=591
idHeight=593
iEmitters=0
[T587]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWoodPlanksBankiraiD
eKindTexture=D
pimage=1
idI=588
[I588]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksBankiraiD
acPath=.\..\..\Lib\Materials\WoodPlanksBankirai\WoodPlanksBankiraiD.jpg
[T589]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksBankiraiB
eKindTexture=B
pimage=1
idI=590
[I590]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksBankiraiB
acPath=.\..\..\Lib\Materials\WoodPlanksBankirai\WoodPlanksBankiraiB.jpg
[T591]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksBankiraiS
eKindTexture=S
pimage=1
idI=592
[I592]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksBankiraiS
acPath=.\..\..\Lib\Materials\WoodPlanksBankirai\WoodPlanksBankiraiS.png
[T593]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksBankiraiH
eKindTexture=H
pimage=1
idI=594
[I594]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksBankiraiH
acPath=.\..\..\Lib\Materials\WoodPlanksBankirai\WoodPlanksBankiraiH.jpg
