[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MCarpetFluffy
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.500000,0.600000,0.600000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=0.000000
fSpecularSharpness=25.000000
fHazeStrength=3.000000
fBumpStrength=3.000000
fHeightStrength=2.000000
fGlowStrength=0.000000
fSpecularStrength=0.000000
frFresnel=1.000000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=0.700000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=1.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=0
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=1
iFlagsSSS=1
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=0
bEnvironment=0
bHeight=1
bThickness=1
idDiffuse=545
idBump=547
idHeight=549
idThickness=551
iEmitters=0
[T545]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MCarpetFluffyD
eKindTexture=D
pimage=1
idI=546
[I546]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ICarpetFluffyD
acPath=.\..\..\Lib\Materials\CarpetFluffy\CarpetFluffyD.jpg
[T547]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TCarpetFluffyB
eKindTexture=B
pimage=1
idI=548
[I548]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ICarpetFluffyB
acPath=.\..\..\Lib\Materials\CarpetFluffy\CarpetFluffyB.jpg
[T549]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TCarpetFluffyH
eKindTexture=H
pimage=1
idI=550
[I550]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ICarpetFluffyH
acPath=.\..\..\Lib\Materials\CarpetFluffy\CarpetFluffyH.jpg
[T551]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TCarpetFluffyT
eKindTexture=T
pimage=1
idI=552
[I552]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ICarpetFluffyT
acPath=.\..\..\Lib\Materials\CarpetFluffy\CarpetFluffyH.jpg
