[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MBark
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.000000
fSpecularSharpness=25.000000
fHazeStrength=3.000000
fBumpStrength=3.000000
fHeightStrength=3.000000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=1.000000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=0
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=0
bEnvironment=0
bHeight=1
bThickness=0
idDiffuse=539
idBump=541
idHeight=543
iEmitters=0
[T539]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MBarkD
eKindTexture=D
pimage=1
idI=540
[I540]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IBarkD
acPath=.\..\..\Lib\Materials\Bark\BarkD.jpg
[T541]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TBarkB
eKindTexture=B
pimage=1
idI=542
[I542]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IBarkB
acPath=.\..\..\Lib\Materials\Bark\BarkB.jpg
[T543]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TBarkH
eKindTexture=H
pimage=1
idI=544
[I544]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IBarkH
acPath=.\..\..\Lib\Materials\Bark\BarkH.jpg
