[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWoodPlanksSpaced
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=1.700000
fHeightStrength=1.200000
fGlowStrength=1.000000
fSpecularStrength=0.300000
frFresnel=0.990000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=0
bHeight=1
bThickness=0
idDiffuse=631
idBump=633
idSpecular=635
idHeight=637
iEmitters=0
[T631]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWoodPlanksSpacedD
eKindTexture=D
pimage=1
idI=632
[I632]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksSpacedD
acPath=.\..\..\Lib\Materials\WoodPlanksSpaced\WoodPlanksSpacedD.jpg
[T633]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksSpacedB
eKindTexture=B
pimage=1
idI=634
[I634]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksSpacedB
acPath=.\..\..\Lib\Materials\WoodPlanksSpaced\WoodPlanksSpacedB.jpg
[T635]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksSpacedS
eKindTexture=S
pimage=1
idI=636
[I636]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksSpacedS
acPath=.\..\..\Lib\Materials\WoodPlanksSpaced\WoodPlanksSpacedS.png
[T637]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWoodPlanksSpacedH
eKindTexture=H
pimage=1
idI=638
[I638]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWoodPlanksSpacedH
acPath=.\..\..\Lib\Materials\WoodPlanksSpaced\WoodPlanksSpacedH.jpg
