[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MConcrete
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=0.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=1.000000
fHeightStrength=0.000000
fGlowStrength=0.000000
fSpecularStrength=0.500000
frFresnel=0.900000
fRefractionRatio=0.000000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=0
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=0
bHeight=0
bThickness=0
idDiffuse=473
idBump=475
idSpecular=477
iEmitters=0
[T473]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MConcreteD
eKindTexture=D
pimage=1
idI=474
[I474]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IConcreteD
acPath=.\..\..\Lib\Materials\Concrete\ConcreteD.jpg
[T475]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TConcreteB
eKindTexture=B
pimage=1
idI=476
[I476]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IConcreteB
acPath=.\..\..\Lib\Materials\Concrete\ConcreteB.jpg
[T477]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TConcreteS
eKindTexture=S
pimage=1
idI=478
[I478]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IConcreteS
acPath=.\..\..\Lib\Materials\Concrete\ConcreteS.jpg
