[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MRubberBlack
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.200000,0.200000,0.200000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=0.100000
fHeightStrength=1.000000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=0.999000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=0.500000
fBRDFReflectance=0.500000
fRimLightStr=1.000000
fEnvironmentInt=0.800000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=1.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=3
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=0
iFlagsSSS=1
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=0
bEnvironment=0
bHeight=0
bThickness=1
idDiffuse=655
idBump=657
idThickness=659
iEmitters=0
[T655]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MRubberBlackD
eKindTexture=D
pimage=1
idI=656
[I656]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRubberBlackD
acPath=.\..\..\Lib\Materials\RubberBlack\RubberBlackD.jpg
[T657]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TRubberBlackB
eKindTexture=B
pimage=1
idI=658
[I658]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRubberBlackB
acPath=.\..\..\Lib\Materials\RubberBlack\RubberBlackB.jpg
[T659]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TRubberBlackT
eKindTexture=T
pimage=1
idI=660
[I660]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRubberBlackT
acPath=.\..\..\Lib\Materials\RubberBlack\RubberBlackD.jpg
