[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWindowGothicStained
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=3.500000
fHeightStrength=2.000000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=0.050000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=1
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=1
bHeight=1
bThickness=0
idDiffuse=661
idBump=663
idSpecular=665
idEnvironment=667
idHeight=669
iEmitters=0
[T661]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MWindowGothicStainedD
eKindTexture=D
pimage=1
idI=662
[I662]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWindowGothicStainedD
acPath=.\..\..\Lib\Materials\WindowGothicStained\WindowGothicStainedD.jpg
[T663]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWindowGothicStainedB
eKindTexture=B
pimage=1
idI=664
[I664]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWindowGothicStainedB
acPath=.\..\..\Lib\Materials\WindowGothicStained\WindowGothicStainedB.jpg
[T665]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWindowGothicStainedS
eKindTexture=S
pimage=1
idI=666
[I666]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWindowGothicStainedS
acPath=.\..\..\Lib\Materials\WindowGothicStained\WindowGothicStainedS.jpg
[T667]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWindowGothicStainedE
eKindTexture=E
pimage=1
idI=668
[I668]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWindowGothicStainedE
acPath=textures\ENV.jpg
[T669]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TWindowGothicStainedH
eKindTexture=H
pimage=1
idI=670
[I670]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IWindowGothicStainedH
acPath=.\..\..\Lib\Materials\WindowGothicStained\WindowGothicStainedH.jpg
