[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MMetalRustyFlaking
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=1.500000
fHeightStrength=0.150000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=0.500000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=1
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=1
bHeight=1
bThickness=0
idDiffuse=449
idBump=451
idSpecular=453
idEnvironment=455
idHeight=457
iEmitters=0
[T449]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MMetalRustyFlakingD
eKindTexture=D
pimage=1
idI=450
[I450]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IMetalRustyFlakingD
acPath=.\..\..\Lib\Materials\MetalRustyFlaking\MetalRustyFlakingD.jpg
[T451]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TMetalRustyFlakingB
eKindTexture=B
pimage=1
idI=452
[I452]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IMetalRustyFlakingB
acPath=.\..\..\Lib\Materials\MetalRustyFlaking\MetalRustyFlakingB.jpg
[T453]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TMetalRustyFlakingS
eKindTexture=S
pimage=1
idI=454
[I454]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IMetalRustyFlakingS
acPath=.\..\..\Lib\Materials\MetalRustyFlaking\MetalRustyFlakingS.jpg
[T455]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TMetalRustyFlakingE
eKindTexture=E
pimage=1
idI=456
[I456]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IMetalRustyFlakingE
acPath=textures\ENV.jpg
[T457]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TMetalRustyFlakingH
eKindTexture=H
pimage=1
idI=458
[I458]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IMetalRustyFlakingH
acPath=.\..\..\Lib\Materials\MetalRustyFlaking\MetalRustyFlakingH.jpg
