[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MSkinElephant
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.200000,0.200000,0.200000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=0.000000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=0.000000
fHeightStrength=0.000000
fGlowStrength=0.000000
fSpecularStrength=0.000000
frFresnel=0.999000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=0.500000
fBRDFReflectance=0.500000
fRimLightStr=1.000000
fEnvironmentInt=0.800000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=1.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=3
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=0
iFlagsSSS=1
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=0
bEnvironment=0
bHeight=0
bThickness=1
idDiffuse=677
idBump=679
idThickness=681
iEmitters=0
[T677]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MSkinElephantD
eKindTexture=D
pimage=1
idI=678
[I678]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ISkinElephantD
acPath=.\..\..\Lib\Materials\SkinElephant\SkinElephantD.jpg
[T679]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TSkinElephantB
eKindTexture=D
pimage=1
idI=680
[I680]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ISkinElephantB
acPath=.\..\..\Lib\Materials\SkinElephant\SkinElephantD.jpg
[T681]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TSkinElephantT
eKindTexture=B
pimage=1
idI=682
[I682]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ISkinElephantT
acPath=.\..\..\Lib\Materials\SkinElephant\SkinElephantB.jpg
