[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MTilesMarbleWhite
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=1.000000,1.000000,1.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=0.800000
fHeightStrength=1.000000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=0.990000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=0.600000
fBRDFReflectance=1.500000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=1.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=1
iFlagsPOM=0
iFlagsSSS=1
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=1
bHeight=0
bThickness=1
idDiffuse=639
idBump=641
idSpecular=643
idEnvironment=645
idThickness=647
iEmitters=0
[T639]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MTilesMarbleWhiteD
eKindTexture=D
pimage=1
idI=640
[I640]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ITilesMarbleWhiteD
acPath=.\..\..\Lib\Materials\TilesMarbleWhite\TilesMarbleWhiteD.jpg
[T641]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TTilesMarbleWhiteB
eKindTexture=B
pimage=1
idI=642
[I642]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ITilesMarbleWhiteB
acPath=.\..\..\Lib\Materials\TilesMarbleWhite\TilesMarbleWhiteB.jpg
[T643]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TTilesMarbleWhiteS
eKindTexture=S
pimage=1
idI=644
[I644]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ITilesMarbleWhiteS
acPath=.\..\..\Lib\Materials\TilesMarbleWhite\TilesMarbleWhiteS.jpg
[T645]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TTilesMarbleWhiteE
eKindTexture=E
pimage=1
idI=646
[I646]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ITilesMarbleWhiteE
acPath=textures\ENV.jpg
[T647]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TTilesMarbleWhiteT
eKindTexture=T
pimage=1
idI=648
[I648]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=ITilesMarbleWhiteT
acPath=.\..\..\Lib\Materials\TilesMarbleWhite\TilesMarbleWhiteD.jpg
